/*el largo maximo del contenido*/
.box {
	max-height: 330px;
}

/*color personalizado para los botones*/
.btn-primary.custom-btn {
	color: white;
	background-color: #0caa92;
	border-color: #0caa92;
}
.btn-primary:hover {
	color: #40af9f;
	background-color: #097968 !important;
	border-color: #097968 !important;
}
.bgcolor {
	background-color: black;
}

/*fondo de video*/
.video-background {
	position: absolute;
	width: 100%;
	min-height: 66vh;
}

/*posicion del texto*/
.caption {
	position: relative;
	top: 20%;
	width: 100%;
}

.caption h1 {
	font-size: 4rem;
	letter-spacing: .2rem;
	text-shadow: .1rem .1rem .8rem;
	padding-bottom: 1rem;
}

.caption h3 {
	font-size: 2rem;
	letter-spacing: .2rem;
	text-shadow: .1rem .1rem .8rem;
	padding-bottom: 1rem;
}

a:link {
	color: #0caa92;
}

/*posicion de los iconos de las redes*/
.redes {
	position: relative;
	top: 10%;
	width: 100%;
}

.btn-lg {
	border-width: medium;
}
.btn.btn-cv {
	color: #fff;
	background-color: #0caa92;
	border-color: #0bceaf;
	border-radius: 40px;
}

.btn-cv:hover {
	color: #fff;
	background-color: #0bceaf;
	border-color: #0bceaf;
}

ul {
	margin: 0;
	padding: 0;
}

/*el borde solo afecta a la clase skills*/
ul li.skills {
	border: 1px solid #0bceaf;
	padding: 4px 10px;
	border-radius: 4px;
	color: white;
}

/*acomoda los skills en linea*/
li {
	margin: 0px 6px;
	margin-bottom: 0px;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 0px 0px;
	display: inline-block;
}

/*MEDIA QUERIES*/

@media (max-width: 768px) {
	.box {
		max-height: 470px;
	}
	.caption h1 {
		font-size: 2rem;
		letter-spacing: .2rem;
		text-shadow: .1rem .1rem .8rem;
		padding-bottom: 1rem;
	}

	.caption h3 {
		font-size: 1rem;
		letter-spacing: .1rem;
		text-shadow: .1rem .1rem .8rem;
		padding-bottom: 1rem;
	}
}
